@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--global-color-dark-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark Mode */
  --global-color-dark-bg: #000321;
  --global-color-dark-light-bg: #25294a;
  --global-color-dark-text: #8e8c8c;
  --global-color-dark-alt-text: #ffffff;
  --global-color-dark-accent: #5c6296;

  /* Light Mode */
  --global-color-light-bg: #f8f8f8;
  --global-color-light-light-bg: #ffffff;
  --global-color-light-text: #000000;
  --global-color-light-alt-text: #8e8c8c;
  --global-color-light-accent: #00afa0;

  /* Misc Colors */
  --global-color-warning: #ecbc13;
  --global-color-priority: #f24f4f;
}
body {
  margin: 0;
  padding: 0%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  min-width: fit-content;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: var(--global-color-dark-accent);
  border-radius: 3px;
}
input[type="text"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder {
  color: #5c6296e1;
}

input[type="text"],
input[type="date"] {
  width: 100%;
}

input[type="number"] {
  max-width: 80px;
}

.fc-theme-standard {
  width: 100%;
}
